body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  padding: 0;
  margin: 0;
}
body,
html {
  min-height: 100%;
}
* {
  box-sizing: border-box;
}
#map {
  position: absolute;
  top: 50px;
  right: 350px;
  left: 0;
  bottom: 0;
}
#sidebar {
  position: absolute;
  border-left: 1px solid #000;
  top: 50px;
  right: 0;
  width: 350px;
  bottom: 0;
  overflow-y: auto;
  padding: 25px;
}
#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: darkred;
  color: white;
}

#header a {
  color: #fff;
}

#header a:hover {
  background-color: black;
}

.marker {
  font-size: 10px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.marker:hover {
  border: 2px solid #000;
}

.marker.alert:hover {
  border: 2px solid darkred;
}

.marker > div {
  padding-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marker.alert {
  border: 2px solid red;
}

section {
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}

section h5 {
  margin-bottom: 0;
}

section div {
  padding-top: 5px;
}

section label {
  font-style: italic;
  color: #666;
}
