body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  padding: 0;
  margin: 0;
}
body,
html {
  min-height: 100%;
}
* {
  box-sizing: border-box;
}
#map {
  position: absolute;
  top: 50px;
  right: 350px;
  left: 0;
  bottom: 0;
}
#sidebar {
  position: absolute;
  border-left: 1px solid #000;
  top: 50px;
  right: 0;
  width: 350px;
  bottom: 0;
  overflow-y: auto;
  padding: 25px;
}
#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: #94346e;
  color: white;
}

#header a {
  color: #fff;
}

#header a:hover {
  background-color: black;
}

.marker {
  font-size: 10px;
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
}

.marker:hover {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

.marker.alert:hover {
  box-shadow: 0px 0px 0px 2px #cc503e;
}

.marker > div {
  display: flex;
  align-items: center;
}

.marker.alert {
  box-shadow: 0px 0px 0px 4px #cc503e;
}

.marker.clicked {
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 0px 8px rgba(0, 0, 0, 1);
}

section {
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}

section h5 {
  margin-bottom: 0;
}

section div {
  padding-top: 5px;
}

section label {
  display: block;
  font-size: 12px;
  padding-top: 5px;
  color: #666;
}

.have_room {
  padding: 2px;
  background: #5f4690;
  line-height: 0;
}

.can_help {
  padding: 2px;
  background: #73af48;
  line-height: 0;
}

.need_help {
  padding: 2px;
  background: #cc503e;
  line-height: 0;
}

count {
  padding-left: 4px;
  font-weight: bold;
}
