body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  padding: 0;
  margin: 0;
}
body,
html {
  min-height: 100%;
}
#map {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: darkred;
  color: white;
}

#header a {
  color: #fff;
}

#header a:hover {
  background-color: black;
}

.marker {
  font-size: 10px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.marker > div {
  padding-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marker.alert {
  border: 2px solid red;
}
